
@import-normalize;
@import './variables.scss';

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: montserrat, sans-serif;
  color: color(textPrimary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scrollbar-color: salmon #141414;
  scrollbar-width: .5rem;
}

body::-webkit-scrollbar {
  width: .5rem
}
body::-webkit-scrollbar-track {
  background: #141414;
}
body::-webkit-scrollbar-thumb {
  background: rgb(168, 228, 216);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, li, span {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}