$color: (
  black: #000,
  white: #FFF,

  textPrimary: #505256,

  

  headerBG: #FFF,

  menuText: #FFF,
  menuBG: #3a4046

);
@function color($colorName){
    @return map-get($color, $colorName)
}

$breakPoints: (
  largeScreen: 1920px,
  smallScreen: 1200px,
  tablet: 768px,
  phone: 420px
);
@function breakPoint($breakPoint){
    @return map-get($breakPoints, $breakPoint)
}

$fonts: (
  mont: montserrat,
  aktiv: aktiv-grotesk-extended
);
@function font($fontFamily){
    @return map-get($fonts, $fontFamily)
}



// Potential theme ideas
  // - Cyber Punk
  // - Google Blue / White
  // - 